<footer>
    <grid>
        <div col="1/3">
            <h5>Social Media</h5>
            <ul class="link-list">
                {{#socialMedia}}
                <li><a att href="{{link}}"><img src="{{icon}}" />{{name}}</a></li>
                {{/socialMedia}}
            </ul>
        </div>
        <div col="1/3">
            <h5>Credits</h5>
            <ul class="link-list">
                <li><a att href="https://barecss.com">BareCSS</a></li>
                <li><a att href="https://icons8.com">Icons from icons8</a></li>
            </ul>
        </div>
    </grid>
</footer>