<!doctype HTML>
<html lang="en">
<head>
	<title>{{title}}</title>
	
	<meta charset=utf-8>
	<meta name="description" content="craig mcilwrath">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	
	<link href="css/bare.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
    <link href="css/project-details.css" rel="stylesheet">
    <style>
    body {
        padding-top: 0;
    }
    </style>
</head>
<body>
	<div class="outer">
        <a role="link" class="back-butt"><img src="icons/icons8-left-48.png" /></a>
        <img class="pd-splash-image" src="{{imageFile}}">
        <div class="inner">
            <h1>{{title}}</h1>
            {{{text}}}
        </div>
    </div>
    <script src="js/project-details.js"></script>
</body>
</html>